*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
}

.point:hover .text {
    opacity: 1;
}

.point .text {
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.3rem;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    pointer-events: none;
}

.point.visible .label {
    transform: scale(1, 1);
}

.point .label {
    cursor: help;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    transform: scale(0, 0);
    transition: transform 0.3s;
}