*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: all 0.5;
    opacity: 1;
}

.loading-bar.ended {
    transform: scaleX(0);
    transform-origin: top right;
    transition: all 1.5s ease-in-out;
}
